
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/*shared style*/
.display-flex{
    display: flex;
}
.font-style{
    font-style: italic;
}
/*color styles*/
.text-white{
    color: #FFFFFF;
}
.bg-black{
    background-color: rgba(17, 17, 17, 1);
}
.btn-primary{
   background-color: #E6533C;
   color: #FFFFFF;
   font-size: 1rem;
   font-weight: 500;
   border-radius: 46px;
   border: none;
   padding: 10px 15px;
}
.btn-download{
    background-color:  rgba(17, 17, 17, 1);;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 46px;
    color: #FFFFFF;
    border: 1px solid white;
    padding: 10px 15px;
}


/*navbar related styles*/
.nav-item{
    list-style: none;
    margin-right: 47px;
}
.nav-link{
    text-decoration: none;
    
    font-weight: 500;
    font-size: 1rem;

}
.nav-links{
    border: 1px solid black;
    border-radius: 39px;
    align-items: center;
    margin-right: 190px;
    
}
.nav-title{
    color: #E6533C;
    margin-left: 190px;
    font-size: 2.4rem;
    font-weight: 800;
}
.navbar{
    justify-content: space-between;
    
   
}
.navbar{
    max-width: 1440px;
    margin: 0 auto;
}
/*banner related styles*/
.banner-content{
    max-width: 600px;
    margin-left: 190px;
}
.banner{
    display: flex;
}
.banner-title{
    font-size: 4.8rem;
    
}
.banner-description{
    font-size: 1rem;
}
.banner-image{
    width: 100%;
}
/* changes habit related style*/
.habit-title{
    font-size: 3rem;
    text-align: center;
    font-weight: 1000;
    margin-bottom: 14px;
}
.habit-description{
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
}
.move-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 4px;
    text-align: center;
    padding-left: 100px ;
    

}
.move-description {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    padding-left: 90px;
    

}
.habits-images{
    border-radius: 50%;
    border: 1px solid black;
    justify-content: center;
   justify-content: space-between;
   margin-left: 100px;
   
  
  
    
}
.habit-img{
    
   padding: 58px 150px 40px 150px;
}



/*responsive media query*/
@media screen and (max-width:576px) {
    .navbar , .nav-links , .banner,.habit-img {
        flex-direction: column;
    }
    .banner-content{
       
        margin-left: 10px;
    }
    .nav-title{
        
        margin-left: 10px;
       
      }
      .habits-images{
        
        margin-left: 0px;
        }
       .move-description {
        padding-left: 40px;
        font-size: 0.6rem;
       }
       .move-title{
        padding-left: 40px;
       }
    }
       
